influxdb/config/*
influxdb/data/*
!.git*
.env
.env.*
!.env.local
!.env.example
!influxdb/config/.gitkeep
!influxdb/data/.gitkeep
bin/k6*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Python virtual environments
venv/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Pytest coverage
htmlcov/
.coverage
.coverage.*

# Bak file
*.bak